body{
    background-color: blue;
   
}




#array{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    width: 600px;
    background-color: rgba(52, 31, 189, 0.438);
    border-radius: 20px;
}
#orologio{
    background-color: rgba(29, 20, 85, 0.733);
    border-radius: 20px;
    height: 200px;
    width: 600px;
    font-size: 30px;
    color: white;
    margin: auto;
}

#result{
    width: 500px;
    height: 300px;
    color: white;
    font-size: 30px;
    width: 600px;
    background-color: rgba(17, 71, 221, 0.438);
    border-radius: 20px;
}

.hide{
    display: none;
}



